<div class="container-fluid">
	<div class="row">
		<ng-container *ngFor="let bookmark of bookmarks">
			<ng-container *ngFor="let reference of bookmark.references">
				<div class="card text-center" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title"><img [src]="reference.faviconUrl"></h5>
							<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
							<p class="card-text">{{reference.description}}</p>
							<a [href]="reference.url" class="card-link" _target="blank">Open link</a>
					</div>
				</div>
			</ng-container>
		</ng-container>
	</div>
</div>